Notebook prepared by Maryam Khalid

# Artificial Intelligence Lab 01

Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing. Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

## Print statement

In [1]:
print('This is my first hands-on in Python :)')

This is my first hands-on in Python :)

In [2]:
print('This is my {} hands-on in {} :)'.format('first', 'Python'))

This is my first hands-on in Python :)

In [37]:
# -- output in next lines
print("""one
two
three

""")

one
two
three

In [39]:
# -- next line
print("Hello I am here\n.Ok?")

# -- print different datatypes
name = 'Sara'
print(f'hi are u ok {name}')
age = 18
print(f'Sarah are u {age}?')

Hello I am here
.Ok?
hi are u ok Sara
Sarah are u 18?

## User Input

In [5]:
name = input("Enter username:")
print("Username is: " + name)

Enter username: user123

Username is: user123

In [6]:
# Ask name and registration id from user and display it on screen
#YOUR CODE HERE

## Variables/Data types

In [7]:

# You don't have to tell the type of variable

apples = 5
price_of_apples = 5.6
brand_of_appls = "Telso"

print(brand_of_appls + str(apples))

Telso5

In [8]:
x = 1
y = 3.5
z = 'Programming'
w = True

In [9]:
print(x, y, z, w)

1 3.5 Programming True

In [10]:
print(type(x), type(y), type(z), type(w))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [11]:
#Initialize a variable with your name and print its type
#YOUR CODE HERE

## Arithmetic Operators

In [12]:
5+5

10

In [13]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x / 2)  # Division
print(x ** 2)  # Exponentiation
print(5 %5)  #remainder

2
0
2
0.5
1
0

In [14]:
# -- int
number = input('Write a number ?')
print(number)

#----2. Typecasting variables
print(5+int(number))

Write a number ? 12

12
17

## Boolean Operators

In [15]:
t, f = True, False

print(t and f) # Logical AND
print(t or f)  # Logical OR
print(not t)   # Logical NOT
print(t != f)  # Logical XOR

False
True
False
True

## Strings

In [16]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter

print(hello, len(hello)) #len=length

hello 5

In [17]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [18]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
print(hw12)

hello world 12

In [43]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', 'DD'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
heDDDDo
world

In [20]:
#Initialize a variable with a person sitting next to you.
#YOUR CODE HERE


#Concatenate your name with it.
#YOUR CODE HERE


#Replace the person's name with the sentence 'is my Best friend, I will pay for his/her lunch today :D'
#YOUR CODE HERE

## Conditionals

In [21]:
my_variable = 5

if my_variable < 0:
  print("negative")
elif my_variable == 0:
  print("null")
else:
  print("positive")

positive

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

In [22]:
i = 0
while i < len('Program'):
  print(i)
  i += 1 # equivalent to i = i + 1

0
1
2
3
4
5
6

In [23]:
for i in range(len('Program')):
  print(i)

0
1
2
3
4
5
6

In [24]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## Functions

Python functions are defined using the `def` keyword. For example:

In [25]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [26]:
print(sign(-5))

negative

We will often define functions to take optional keyword arguments, like this:

In [27]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('maryam')
hello('maryam', loud=True)

Hello, maryam!
HELLO, MARYAM

In [28]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
square(multiply(3, 2))

36

In [29]:


# ----1. Looping through List

# ---- Get The Value and work with it
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

# ----- Indexing
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

# ------ For Loop with else block
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

The sum is 48
I like pop
I like rock
I like jazz
0
1
5
No items left.

In [30]:
#--------------------#
#    While loop      #
#--------------------#
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

#it can have else block as well

The sum is 55

 ## Lists

In [31]:

#----1. Create Python Lists----

# --list of floats
areas = [10.0, 16.0, 10.0]

# --list with mixed data types
areas = ["hall", 10.0, "bath" , 16.0 , "bed", 10.0]

# --nested list
# a. list as an item

garage_area = [11.0,12.0]
areas = ["hall", 10.0, "bath" , 16.0 , "bed", 10.0 , garage_area]

# b. list of lists

bedroom_area = [11.0 , 12.0]
hallway_area = [13.0 , 15.0]
pool_area = [16.0 , 19.0 , 12.0]

areas = [bedroom_area , hallway_area , pool_area]
print(areas)

[[11.0, 12.0], [13.0, 15.0], [16.0, 19.0, 12.0]]

In [32]:
#----2. Access List Elements ----

# -- List index
numbers = [0, 1, 2, 3, 4, 5, 6, 7]

print(numbers[0])

# -- Nested List indexing

numbers2d = [[0,1],[2,3],[3,5]]

print(numbers2d[1][1])

0
3

In [33]:
#----2. List Slicing Elements ----

print(numbers[2:6])

print(numbers[3:])

print(numbers[:])

[2, 3, 4, 5]
[3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7]

In [34]:
#----3. Mutable Lists ----

even = [3 , 5 , 7 , 11]
print(even)
even[0] = 0

even[1:] = [2,4,8]

print(even)

[3, 5, 7, 11]
[0, 2, 4, 8]

In [45]:
#---- 4. Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [50]:
# ---- 5. List Methods
even = [3 , 5 , 7 , 11]

# append() 1 item
even.append(12)
even.append([14,16]) #will be added as list

print(even)

# extend() add more items
# even.append([14,16,18])
even.extend([14,16,18])
print(even)

#insert() 1 or more at a position
odd = [1, 9]
odd.insert(1,3)

print(odd)

#odd[2:2] = [5, 7]

[3, 5, 7, 11, 12, [14, 16]]
[3, 5, 7, 11, 12, [14, 16], 14, 16, 18]
[1, 3, 9]
[1, 3, 5, 7, 9]